<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
  <div class='body'>
    <script data-ad-client="ca-pub-1142216861245946" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <div class='content' id='content'></div>
  </div>
  {% if site.google-analytics %}
    {% include google-analytics.html %}
  {% endif %}

  {% include header.html %}

  <!-- begin content -->
  <main class="content" aria-label="Content">
    {{ content }}
  </main>
  <!-- end content -->

  {% include footer.html %}

  <!-- begin js -->
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery-3.3.1.min.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/aos.js"></script>
  <script src="{{ site.baseurl }}/assets/js/vendors/jquery.fitvids.js"></script>
  <script src="{{ site.baseurl }}/assets/js/common.js"></script>
  <!-- end js -->
</body>

</html>
